@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}

.marquee-container {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.marquee {
  overflow: hidden;
  width: 200%;
  max-width: 800px;
  position: relative;
}

.pic-container img {
  width: 90%;
  height: 300px;
}
.marquee-inner {
  display: flex;
  align-items: center;
  width: calc(100% * 3);
  animation: marquee 20s linear infinite;
}

.pic-container {
  flex: 0 0 auto;
}

#height {
  margin-top: 8px;
  height: 310px;
}

#height2 {
  margin-top: 10px;
  height: 310px;
}

.marquee-text {
  white-space: nowrap;
  padding: 0 6rem;
  letter-spacing: 1px;
  animation: scroll 4000ms linear infinite;
}

@font-face {
  font-family: 'fugaz-one';
  src: url('./font/spantaran.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fugaz-one';
  src: url('./font/spantaran.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.no-scroll {
  overflow: hidden;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  display: none;
}

.beeping {
  animation: flash 1s infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
