@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.marquee-container {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.marquee-text {
  white-space: nowrap;
  padding: 0 2rem;
  letter-spacing: 1px;
  animation: scroll 6000ms linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
